# Formato: https://api-REGIÃO.hygraph.com/v2/CÓDIGO/master
# Exemplo: https://api-us-west-2.hygraph.com/v2/cma43qrgl008107w6vsjaldfd/master
VITE_HYGRAPH_API_URL=https://api-REGIÃO.hygraph.com/v2/CÓDIGO/master

VITE_HYGRAPH_AUTH_TOKEN=YOUR_TOKEN_HERE

VITE_CACHE_EXPIRATION_HOURS=24

VITE_DEFAULT_QUERY_LIMIT=10
